<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{212,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>sfbrick1</key>
            <dict>
                <key>frame</key>
                <string>{{914,462},{99,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{99,56}}</string>
                <key>sourceSize</key>
                <string>{105,62}</string>
            </dict>
            <key>sfbrick2</key>
            <dict>
                <key>frame</key>
                <string>{{792,506},{117,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,58}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>sfbullet</key>
            <dict>
                <key>frame</key>
                <string>{{966,171},{33,33}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{33,33}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>sfbullet1</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{44,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,62}</string>
            </dict>
            <key>sfbullet2</key>
            <dict>
                <key>frame</key>
                <string>{{966,116},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>sfbullet3</key>
            <dict>
                <key>frame</key>
                <string>{{966,207},{31,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>sfenmy1</key>
            <dict>
                <key>frame</key>
                <string>{{792,567},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>sfenmy2</key>
            <dict>
                <key>frame</key>
                <string>{{645,506},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>sfenmy3</key>
            <dict>
                <key>frame</key>
                <string>{{751,217},{197,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,197}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>sfgun</key>
            <dict>
                <key>frame</key>
                <string>{{488,499},{154,172}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{154,172}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>sflifei</key>
            <dict>
                <key>frame</key>
                <string>{{966,63},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>sflives</key>
            <dict>
                <key>frame</key>
                <string>{{751,462},{160,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,41}}</string>
                <key>sourceSize</key>
                <string>{160,41}</string>
            </dict>
            <key>sfpause</key>
            <dict>
                <key>frame</key>
                <string>{{951,253},{71,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>sfpopup</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{746,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{746,494}}</string>
                <key>sourceSize</key>
                <string>{746,494}</string>
            </dict>
            <key>sfscore</key>
            <dict>
                <key>frame</key>
                <string>{{751,417},{180,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,42}}</string>
                <key>sourceSize</key>
                <string>{180,42}</string>
            </dict>
            <key>sftitle</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{483,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,209}}</string>
                <key>sourceSize</key>
                <string>{483,209}</string>
            </dict>
            <key>star</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{5,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,22}}</string>
                <key>sourceSize</key>
                <string>{5,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spacetex.png</string>
            <key>size</key>
            <string>{1024,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7165fe685f1d7dc6cbf3384f97b58c08$</string>
            <key>textureFileName</key>
            <string>spacetex.png</string>
        </dict>
    </dict>
</plist>
