<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cjbg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,3},{800,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,1280}}</string>
                <key>sourceSize</key>
                <string>{800,1280}</string>
            </dict>
            <key>cjbg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,3},{800,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,300}}</string>
                <key>sourceSize</key>
                <string>{800,300}</string>
            </dict>
            <key>cjname.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{800,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,1280}}</string>
                <key>sourceSize</key>
                <string>{800,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cjtexset_02.png</string>
            <key>size</key>
            <string>{1914,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da465df0f6f17cf6799206d6698552f$</string>
            <key>textureFileName</key>
            <string>cjtexset_02.png</string>
        </dict>
    </dict>
</plist>
